<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title> A </title>
    <link rel="stylesheet" type="text/css" media="all" href="###THEME_DIR_URL###/style.css" /></style>
</head>

<body>


	<div id="logo">
		A
	</div>

	<ul id="menu-big">
		<li><a href="http://www.ludi.be" target = "blank">now</a></li>
		<li>works</li>
		<li>exhibitions</li>
		<li>press</li>
	</ul>
	
	<ul id="menu-small">
		<li>about</li>
		<li>contact</li>
		</p>
	</ul>
 	

	<div id="wrkbox">
		<img id="img-wrk" src="###THEME_DIR_URL###/img/2.jpg">
		<div id="wrktxt"> 
			<div id="wrk-titre"> 
			<p>Black Cristals</p> 
			<p>2011</p>
			</div>
			<div id="wrk-tech">
			Spray paint on tiles, 40 x 60 cm
			Studio View </div>
			<div>I usually begin with sketches on paper. Once I have some ideas flowing and I’ve rounded up any reference materials I need, I then start building a few compositions. Rough thumbnails usually get jotted down in my sketchbook while more finished concepts get worked out on crescent board or some other strong archival paper.</div>
		</div>

	</div>


	<div id="colbox"> 
		<div id="col1">
			<img id="img-col" src="###THEME_DIR_URL###/img/stibnite.jpg">
			<div id="col-excerpt">
			De Jeunes Gens Modernes is one of our favorite online magazines on the web, we relate very closely to their vision of fashion and their to impeccable taste. This series of photographs is an excellent occasion to combine our respective activities.</div>
			<img id="img-col" src="pull-landscape.jpg">
			<div id="col-excerpt">
			Landscapes. Mountains. Rivers. Knitting or drawing. Travelling from point to point.</div>
		</div>

		<div id="col2">
			<img id="img-col" src="###THEME_DIR_URL###/img/cementtegels.jpg">
			<div id="col-excerpt">
			I usually begin with sketches on paper. Once I have some ideas flowing and I’ve rounded up any reference materials I need, I then start building a few compositions. <a href="http://www.ludi.be" target = "blank">Rough</a> thumbnails usually get jotted down in my sketchbook while more finished concepts get worked out on crescent board or some other strong archival paper. </div>		
		</div>

		<div id="col3">
			<img id="img-col" src="###THEME_DIR_URL###/img/GeneralMovement1.jpg">
			<div id="col-excerpt">
			The notion of canons, or laws of form, of book page construction was popularized by Jan Tschichold in the mid to late twentieth century, based on the work of J. A. van de Graaf, Raúl M. Rosarivo, Hans Kayser, and others.</div>
			<div id="date-now">14 –01 –2012 45651 6 35 64 </div>
		</div>

 	</div> 


	<div id="up">
		<span id="titre-up"> Le futur se détend</span>
		<span id="date-up">14 – 01</span>
		<img id="img-now" src="###THEME_DIR_URL###/img/SmallVolcano.jpg">
		<div id="up-post"> Landscapes. Mountains. Rivers. Knitting or drawing. Travelling from point to point.</div>
	</div>